.navLink {
  font-size: 18px;
}
.navLinkactive {
  font-size: 18px;
  color: red;
}

.ul {
  position: absolute;
  right: 20px;
  list-style-type: none;
  display: flex;
  /* border-bottom: 2px solid darkgrey; */
  margin: 0px;
  padding: 20px 0px 20px 20px;
}
.ul :not(:first-child) {
  margin-left: 20px;
}
