.form {
  display: block;
  width: 590px;
  padding: 20px;
  /* border: 2px solid black; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button {
  margin-top: 10px;
  cursor: pointer;
  width: 578px;
  height: 30px;
}
.button:active {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
}
.label {
  margin-top: 10px;
}
.label {
  display: block;
}
.input {
  display: block;
  border-radius: 5px;
  width: 580px;
  height: 30px;
}
.input:focus {
  outline: 0;
  border-radius: 5px;
  border-color: blue;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
